<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="dom-element">

	<template>
		<a href="{{link}}"><h1>{{title}}</h1></a>
	</template>

	<script>
	  // register a new element called proto-element
	  Polymer({
	    is: "dom-element"
	  });
	</script>
</dom-module>