<link rel="import" href="../bower_components/paper-card/paper-card.html">

<link rel="import" href="../polymer_components/tag-container.html">

<dom-module id="story-list-card">
	<style>
		:host {
			display: block;
			margin: 3%;
			/*padding: 5px;*/
			min-width: 94%;
		}
		.card-heading {
			--paper-card-header-color: var(--paper-grey-900);
		}
		paper-card {
			--paper-card-header-image {
				opacity: 0;
			}
		}
	</style>
	<template>
		<paper-card class="card-heading" image="{{getImage(post.acf.featured_image)}}" heading="[[post.title.rendered]]" style="min-width: 100%;">
			<div class="card-content"><tag-container tags="[[post_tags]]"></tag-container></div>
		</paper-card>
	</template>
	<script>
		Polymer({
			is: 'story-list-card',
			properties: {
				post: Object,
				tags: Object
			},
			ready: function() {
				all_tags = this.tags
				post_tags = []
				jQuery(this.post.tags).each(function(index, post_tag) {
					jQuery(all_tags).each(function(index, tag) {
						if (post_tag == tag.id) {
							post_tags.push(tag)
						}
					})
				})
				this.post_tags = post_tags
			},
			getImage: function(image) {
				if (!image) {
					return ""
				}
				return image
			}
		})
	</script>
</dom-module>
