<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../polymer_components/story-list-card.html">

<dom-module id="story-list">
	<template>
		<iron-ajax
			auto
			url="/wp-json/wp/v2/posts"
			handle-as="json"
			last-response="{{ajaxPosts}}"
		></iron-ajax>
		<iron-ajax
			auto
			url="/wp-json/wp/v2/tags"
			handle-as="json"
			last-response="{{ajaxTags}}"
		></iron-ajax>
		<template is="dom-repeat" items="[[ajaxPosts]]">
			<story-list-card tags="[[ajaxTags]]" post="[[item]]"></story-list-card>
		</template>
	</template>
	<script>
		Polymer({
			is: 'story-list'
		})
	</script>
</dom-module>