<dom-module id="tag-item">
	<style>
		.tag {
			font-size: 14px;
			color: var(--paper-pink-200);
			padding: 4px;
			margin: 1px;
			display: inline-block
		}
		.menu-tag-icon {
			--iron-icon-height: 16px;
			--iron-icon-width: 16px;
			color: var(--paper-pink-a400);
		}
	</style>
	<template>
		<div class="tag">
			<iron-icon class="menu-tag-icon" icon="maps:local-offer"></iron-icon> <span class="tag-label"><a href="[[link]]">[[name]]</a></span>
		</div>
	</template>
	<script>
		Polymer({
			is: 'tag-item',
			properties: {
				name: String,
				link: String
			}
		})
	</script>
</dom-module>
