<link rel="import" href="../polymer_components/tag-item.html">

<dom-module id="tag-container">
	<template>
		<template is="dom-repeat" items="[[tags]]" as="postTag">
			<tag-item name="[[postTag.name]]" link="[[postTag.link]]"></tag-item>
		</template>
	</template>
	<script>
		Polymer({
			is: 'tag-container',
			properties: {
				tags: "Object"
			}
		})
	</script>
</dom-module>